/*INDEX*/

/*BODY*/

body {
    background-color: #ffffff;
    font-size: 30px;
}

/*Header*/

.mi-logo:hover {
    width: 292px;
}

.mi-logo {
    width: 250px;
    lighting-color: #a69b9b;
}


header {
    border-color: solid 20px #e6e4e4 ;
}

.mi-link:hover {
    background-color: #d7df23;
    color:  #d4bcb4;
    border-radius: 30px;
    opacity: 10px; 
    padding: 5px;
}

.mi-link {
    color:  #d4bcb4 ;
}

.fras-container p {
    border: #d7df23;
    margin: 10px;
    border-radius: 25px;
}

/*CORRUSEL*/

.carousel-item {
    transition: 2s ease;
}

.carousel-indicators {
    size: 50px;
}

.carousel-present {
    font-size: 50px;
    color:#d7df23;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bold;
}

.tittle-links {
    text-align: center;
    text-transform:uppercase;
    color:#ffffff;
    margin-top: 60px;
    background-color: #d7df23;
    font-weight: bold;
}

.tittle-linkstwo {
    text-align: center;
    color: #d4bcb4;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}

.tittle-linkstwo p {
    color: gray;
    text-align: center;
    text-transform: none;
    font-weight:lighter;
    font-size: 25px;
    margin-top: 30px;
}

/*CARD*/

.photo-card:hover {
    color: #ded9d9;
}

.photo-card {
    border-color: #cebcb4;
    background-color:#d7df23;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.card-total:hover {
    color: #d4bcb4;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.card-total {
    margin-top: 30px;
    border-radius: 10px;
    border-color:#d7df23;
    padding: 10px;
}

.color-bottom {
    color:#f4f4f4;
    border-radius: 20px;
    background-color:#d7df23;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.card-title {
    font-size: 30px;
    text-transform: uppercase;
    color:gray;
}

.card-body {
    background-color: #ffffff ;
   
}

.footer-container {
    display: grid;
	background-color:#ffffff;
    color: #d4bcb4;
    text-align: center;
    font-size: 25px;
    border-top:#d7df23 solid 4px;
    display: grid;
    margin-top: 50px;
    text-transform:capitalize;
    width: 100%;
}


/*FOTOS.HTML*/

.container-titulo {
    text-align: center;
    text-transform:uppercase;
    color:#ffffff;
    margin-top: 60px;
    background-color: #d7df23;
    font-weight: bold;
}

.subtitulo-container {
    text-align: center;
    color: #d4bcb4;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}

.photos-container {
    display: grid;
    margin: 20px;
    grid-template-columns:repeat(3, minmax(100px, 1fr));
    width: 100%;
    gap: 20px;
}

.myphotos-container:hover {
    border: 10px solid  #d4bcb4;
    box-shadow: 50px #d7df23;
}

.myphotos-container {
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #d7df23;
    border-radius: 25px;
    max-width: 100%;
}

.myphotos-container p {
    background-color:#cebcb4;
    color:#ffffff;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
}

/*FORM contactos*/
.form-floating {
    text-align: center;
    
}
  
.label-form {
    display: block;
    font-weight: 100%;
    margin-bottom: 5px;
    border:#d4bcb4;
    text-transform: uppercase;
  }

  placeholder {
    color: #d7df23;
  }
  
  
  input, textarea [type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #d7df23;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
  }
  
  .btn-form {
    background-color: #d4bcb4;
    color:#ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 25px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
  }

.contacto-tittle {
    text-align: center;
    text-transform:uppercase;
    color:#ffffff;
    margin-top: 60px;
    background-color: #d7df23;
    font-weight: bold;
}

.contacto-subtittle {
    text-align: center;
    color:  #d4bcb4;
    margin-top: 20px;
    margin-bottom: 30px;
}

.fieldset-container {
    display: grid;
    border-radius: 20px;
    padding: 20px;
    color: #d4bcb4;
    background-color:#f4f4f4;
    width: 100%;
}

.form-container {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.legend-container {
    font-size: 40px;
    background-color:#ffffff;
    font-weight: bold;
}

.legend-container:hover {
    color: #d7df23;
    border-radius: 5px;

}

.input-container {
    border-radius: 15px;
    padding: 15px;
    color: #d4bcb4;
    font-size: 25px;
}

.input-container{
    border-radius: 15px;
    color:#d7df23;
}

/*HISTORIA*/

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
  }
  
  .column {
    background-color:#d7df23;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-top: 40px;

  }

  .column p {
    color: gray;
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 25px;
    font-weight: bold;
  }

.img-fluid {
    border-radius: 20px;
}


.texthistory-container {
    text-align: center;
    color: gray;
    font-size: 30px;

}

.texthistory-container:hover {
    border-radius: 10px;
}

.subtittle-historia {
    text-align: center;
    font-weight: bold;
    color:#d4bcb4;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px; 
    justify-items: center; 
  }
  
  .card {
    margin-top: 50px;
    max-width: 100%;
    padding: 20px;
    background-color: #d7df23;
    border: 2px solid #cebcb4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.656);
    overflow: hidden; 
    border-radius: 25px;
  }
  
  .card-image {
    max-width: 100%; 
    height:max-content; 
    padding: 15px;
    border-radius: 20px;
    justify-items: center;
    color: #d7df23;
    background-color:#ffffff;

  }
  
  .card-content {
    padding: 16px;
    text-align: center;
    color: gray;
    background-color:#ffffff;
    border-radius: 20px;
    margin-top: 20px;
  }
  
  .card h2 {
    font-size: 3.5rem;
    margin: 0;
  }
  
  .card p {
    font-size: 3rem;
    margin: 0;
  }
  