/*BODY*/

body {
    background-color: #f4f4f4;
    font-size: 30px;
}

/*Header*/

.miLogo {
    width: 290px;
}


header {
    border-color: solid 20px #e6e4e4  ;
}

.miLink:hover {
    background-color:  #d0c1be ;
    color:  #a69b9b ;
}

/*CORRUSEL*/

.carousel-item {
    transition: 2s ease;
}

.carouselPresent {
    font-size: 100px;
    color:#f4f4f4;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bold;
}

.tittleLinks {
color: #f4f4f4 ; 
background-color:#cebcb4 ;
text-transform: uppercase;
text-align: center;
font-weight: bold;
padding: 15px;
padding: 15px;
margin-top: 30px;
}

/*CARD*/

.photoCard {
    border-color: #cebcb4;
    background-color: #a69b9b;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.cardTotal {
    margin-top: 30px;
    border-radius: 10px;
    border-color: #cebcb4;
    padding: 10px;

}

.colorBottom {
    color:#f4f4f4;
    border-radius: 20px;
    background-color:#d0c1be;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.card-title {
    font-size: 30px;
    text-transform: uppercase;
    color: #cebcb4;
}

footer {
	background-color:#f4f4f4;
    color:#a69b9b;
    text-align: center;
    font-weight: bold;
    border-top:#cebcb4 solid 4px;
    display: grid;
}
